<h1>Contact information</h1>

<p>
  User: <%= @name if @name %>
</p>
<p>
  Email: <%= @email if @email %>
</p>
<p>
  Phone: <%= @telephone if @telephone %>
</p>
<p>
  Message: <%= @message if @message %>
</p>
